{{ include('layout/header.html.twig') }}

<p class="text-gray-900 bg-green-100 p-6 border border-green-200 rounded-xl">Votre formulaire de contact a été envoyé avec succès. Vous allez être redirigé sur la page d'accueil dans 5 secondes.</p>

{{ include('layout/footer.html.twig') }}