{{ include('layout/header.html.twig') }}

<div class="mx-auto max-w-2xl py-8 sm:py-24 lg:max-w-none lg:py-10">
    <p class="text-center text-3xl font-semibold">
        Erreur {{ code }} - {{ message }}
    </p>
</div>

{{ include('layout/footer.html.twig') }}