{{ include('layout/header.html.twig') }}

<div class="flex min-h-full flex-col justify-center px-6 py-8 sm:py-24 lg:py-10">
    <h2 class="text-xl mb-3 text-blue-900">Politique de confidentialité</h2>
    <ul class="text-gray-900">
        <li>Vos données serons traitées exclusivement par mon entreprise afin de vous identifier et répondre à vos demandes.</li>
        <li>Destinataire des données personnelles : Emeline Numérique</li>
        <li>Vous disposez d’un droit d’accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en nous contactant via le <a href="/#contact-form" class="text-blue-900 underline hover:no-underline">formulaire de contact</a>.</li>
    </ul>

    <h2 class="text-xl my-3 text-blue-900">Mentions légales</h2>
        <ul>
            <li>Identité de l’entreprise : Emeline Numérique</li>
            <li>Forme juridique : SARL</li>
            <li>Adresse du siège social : 3, Avenue des Développeurs – 75 001 Paris</li>
            <li>Montant du capital social : 2 000€</li>
            <li>Numéro d’immatriculation au RCS : xxxxxxxxx</li>
            <li>Mail pour nous contacter : emeline.gineys@example.com</li>
            <li>Numéro d’identification à la TVA : FR8xxxxxxxxxxx</li>
            <li>Identité de l’hébergeur : Nom – Adresse – Numéro de téléphone</li>
            <li>Caractéristiques essentielles des biens et/ou services : Vente services informatiques</li>
            <li>Modalités de règlement des litiges : <a href="https://entreprendre.service-public.fr/vosdroits/R48100" class="text-blue-900 underline hover:no-underline">plateforme européenne de règlement en ligne des litiges (RLL)</a>.</li>
        </ul>
</div>

{{ include('layout/footer.html.twig') }}