{{ include('layout/header.html.twig') }}

<p class="text-gray-900 bg-green-100 p-6 border border-green-200 rounded-xl">Votre compte utilisateur doit être validé par un administrateur. Vous allez être redirigé sur la page d'accueil dans 10 secondes.</p>

{{ include('layout/footer.html.twig') }}