            </div>
        </main>
    </div>
    <footer class="bg-blue-800">
        <div class="mx-auto max-w-7xl">
            <div class="flex h-16 items-center justify-between">
                <div>
                    <p>&copy; Emeline Gineys</p>
                </div>

                {% if logged_in and user_role == 'admin' %}
                <div>
                    <p>
                        <a href="/admin" class="{{ urlIs('/users/list') or urlIs('/comments/validation') or urlIs('/admin') ? 'bg-blue-900 text-white' : 'text-gray-300' }} text-gray-300 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Admin<span class="hidden md:inline">istration</span></a></a>
                    </p>
                </div>
                {% endif %}

                <div>
                    <a href="/mandatory-info" class="{{ urlIs('/mandatory-info') ? 'bg-blue-900 text-white' : 'text-gray-300' }} text-gray-300 hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Info<span class="hidden md:inline">rmation</span>s obligatoires</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.getElementById('nav-button').addEventListener('click', function () {
            let mobileMenu = document.getElementById('mobile-menu');
            mobileMenu.classList.toggle('hidden');

            for (var button of document.getElementsByClassName('nav-button')) {
                button.classList.toggle('hidden');
                button.classList.toggle('block');
            }
        })

        document.getElementById('comment-button').addEventListener('click', function () {
            let commentButton = document.getElementById('comments-display');
            commentButton.classList.toggle('hidden');

            for (var button of document.getElementsByClassName('comment-button')) {
                button.classList.toggle('hidden');
                button.classList.toggle('block');
            }
        })
    </script>
</body>
</html>